<div class="panel-heading"> Employee Form</div>
<div class="panel-body">
    <form [formGroup]="employeeFormGroup">
        <div class="form-group">
            <label for="">First Name:</label>
            <input id="fname" class="form-control" formControlName="firstname">
        </div>
        <div class="form-group">
            <label for="lname">Last Name:</label>
            <input id="lname" class="form-control" formControlName="lastname">        
        </div>
        <div formGroupName="emailGroup">
            <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" class="form-control" formControlName="email">
            </div>
            <div class="from-group">
                <label for="confirmEmail">confirmS Email:</label>
                <input id="confirmEmail" class="form-control" formControlName="confirmEmail" placeholder="Confirm Email (required)">
            </div>
            <!-- <div *ngif="employeeFormGroup.get('emailGroup').errors?.match">
                Emails does not MATCH!!!!
            </div> -->
        </div>
        <div class="form-group">
            <label for="mobile">Mobile:</label>
            <input id="mobile" class="form-Control" formControlName="mobile" placeholder="Enter the phone number">
        </div>
        <div class="form-group">
            <label for="notification">Send Notification:</label>
            <input id="notification" type="radio" class="form-Control" formControlName="sendNotification" value="email">&nbsp; Email
            <input id="notification" type="radio" class="form-Control" formControlName="sendNotification" value="sms">&nbsp; SMS
        </div>
        <div class="form-group">
            <label for="range">Range:</label>
            <input id="range" class="form-control" formcontrolName="range"/>
        </div>
        <hr>
        <button class="btn btn-primary"
            [disabled]="!employeeFormGroup.valid">submit</button>
    </form>
</div>
