    <h1 style="text-align: center;">Registration for RT-PCR Test</h1>
    <form>
            <div><br><br>
                <label class="field" for="name">Name:</label>
                <input type="text" name="name" id="name">
            </div>
            <div><br><br>
                <label class="field" for="Aadhar">Aadhar Number:</label>
                <input type="text" name="Aadhar" id="Aadhar">
            </div>
            <div><br><br>
                <label class="field" for="Dob">Date of Birth:</label>
                <input class="one" type="date" name="Dob" id="Dob">
            </div>
            <div><br><br>
                <label class="field" for="City">City:</label>
                <input type="text" name="City" id="City">
            </div>
            <div><br><br>
                <label class="field" for="dot">Date of Test:</label>
                <input class="one" type="date" name="dot" id="dot">
            </div>
            <div><br><br>
                <label class="field" for="tot">Time of Test:</label>
                <input class="one" type="time" name="tot" id="tot">
            </div>
            <div><br><br>
                <label class="field" for="result">Result:</label>
                <input type="radio" name="result" id="result" value="positive"><label>positive</label>
                <input type="radio" name="result" id="result" value="negative"><label>Negative</label>

            </div>
            <div><br><br>
                <label class="field" for="lname">Lab Name:</label>
                <input type="text" name="lname" id="lname">
            </div>
            <div><br><br>
                <label class="field" for="rep.no">Report Number:</label>
                <input type="text" name="rep.no" id="rep.no">
            </div>
            <div><br><br>
                <label class="field" for="gender">Gender:</label>
                <input type="radio" name="gender" id="gender" value="Male"><label>Male</label>
                <input type="radio" name="gender" id="gender" value="Female"><label>Female</label>
                <input type="radio" name="gender" id="gender" value="others"><label>Others</label>
            </div>
            <div><br><br>
                <input type="button" name="button" id="btn" value="Add" onclick="AddRow()">
            </div>              
    </form>    
    <table  style="text-align: center;" id="show"><br><br>			
        <tr>
            <th>Name</th>
            <th>Aadhar number</th>
            <th>Date of Birth</th>
            <th>City</th>
            <th>Date of Test</th>
            <th>Time of Test</th>
            <th>Result</th>
            <th>Lab name</th>
            <th>Report number</th>
            <th>Gender</th>
        </tr>    
    </table>
    <div style="text-align: center;"><br>
        <input type="text" id="search" placeholder="search here">
        <input type="button" name="button1" id="btn1" value="search" onclick="search()">
    </div>
<table id="show1" style="text-align: center;"><br>			
    <tr>
        <th>Name</th>
        <th>Aadhar number</th>
        <th>Date of Birth</th>
        <th>City</th>
        <th>Date of Test</th>
        <th>Time of Test</th>
        <th>Result</th>
        <th>Lab name</th>
        <th>Report number</th>
        <th>Gender</th>
    </tr>
</table>
