/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
body{
    background-image: url(../../../../images/bg111.jpg);
    height: 100%;
    margin: -4.5em 0 2.5em;
    padding: 7em 4em;
    text-align: center;
}