:root {
    --button-color: #4f7df3;
    --error-color: #ff5263;
    --light-border-color: #c2d3ff;
    --main-font: "Libre Franklin", sans-serif;
    --text-dark-color: #151f29;
    --text-light-color: #969696;
  }
html {
    font-family: var(--main-font);    
    font-size: 62.5%;
    scroll-behavior: smooth;
    line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  }
main {
    display: block;
  }
  body {
    margin: 0;
  }
a {
    text-decoration: none;
  }
header,
section,
.input-container,
footer,
.social-icons,
.icons-container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
header {
    height: 11rem;
    justify-content: flex-end;
    padding-bottom: 1rem;
    width: 100%;
  }
.logo {
    height: 1.5rem;
    width: 5.4rem;
  }
section {
    justify-content: center;
    padding: 3.5rem 0 11rem;
  }
.title {
    color: var(--text-light-color);
    font-size: 2.1rem;
    font-weight: 300;
    margin: 0 0 2rem;
  }
.title span {
    color: var(--text-dark-color);
    font-weight: 700;
  }
.cta-text {
    color: var(--text-dark-color);
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 3.2rem;
  }
.input-container {
    gap: 1rem;
    margin-bottom: 7rem;
    position: relative;
  }
.email {
    border-radius: 2.5rem;
    border: 0.1rem solid var(--light-border-color);
    font-size: 1.2rem;
    height: 4rem;
    padding-left: 3rem;
    width: 28.1rem;
  }
.email.border {
    border: 0.1rem solid var(--error-color);
  }
.email.success {
    border: 0.1rem solid green;
  }
.email:focus {
    color: var(--text-dark-color);
  }
.error-message {
    bottom: 3rem;
    color: var(--error-color);
    font-size: 1rem;
    font-style: italic;
    font-weight: 300;
    position: absolute;
    visibility: hidden;
  }
.error-message.error {
    bottom: 0;
    margin-bottom: 1.8rem;
    position: relative;
    visibility: visible;
  }
.submit-button {
    background: var(--button-color);
    border-radius: 2.5rem;
    border: none;
    box-shadow: rgba(79, 125, 243, 0.2) 0px 7px 6px 0px;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    height: 4rem;
    width: 28.1rem;
  }
.submit-button:hover {
    background: #7195f5;
    cursor: pointer;
  }
.hero-img {
    height: 19.5rem;
    width: 32.1rem;
  }
footer,
.social-icons,
.icons-container {
    justify-content: center;
  }
footer {
    padding-top: 0.8rem;
  }
.social-icons {
    flex-direction: row;
    gap: 1.2rem;
    margin-bottom: 2.9rem;
  }
.icons-container {
    border-radius: 50%;
    border: 0.1rem solid var(--light-border-color);
    height: 3.1rem;
    width: 3.1rem;
  }
.icons-container:hover {
    background: var(--button-color);
    border: none;
  }
.social-logo {
    filter: invert(39%) sepia(81%) saturate(2594%) hue-rotate(212deg)

    brightness(106%) contrast(91%);
  }
.social-logo:hover {
    filter: brightness(0) invert(1);
  }
.fb-logo {
    height: 1.5rem;
    width: 0.9rem;
  }
.tw-logo {
    height: 1.2rem;
    width: 1.3rem;
  }
.ig-logo {
    height: 1.5rem;
    width: 1.6rem;
  }
.copyright,
.attribution {
    color: var(--text-light-color);
    font-size: 1rem;
    font-weight: 300;
  }
.copyright {
    margin-bottom: 1.1rem;
  }
.attribution a {
    color: var(--text-dark-color);
  }
.attribution a:hover {
    font-weight: 600;
  }
@media only screen and (min-width: 750px) {
  header {
      height: 12rem;
    }
  .logo {
      height: 2.4rem;
      width: 8.6rem;
    }
  section {
      padding: 5rem 0 6.1rem;
    }
  .title {
      font-size: 4.7rem;
      margin: 0 0 2.3rem;
    }
  .cta-text {
      font-size: 2rem;
      margin-bottom: 4rem;
    }
  .input-container {
      flex-direction: row;
      gap: 1.6rem;
      margin-bottom: 9rem;
    }
  .email {
      font-size: 1.5rem;
      height: 5.6rem;
      width: 42.1rem;
    }
  .error-message {
      font-size: 1.1rem;
    }
  .error-message.error {
      bottom: -24px;
      left: 46px;
      margin-bottom: 0;
      position: absolute;
    }
  .submit-button {
      font-size: 1.5rem;
      height: 5.6rem;
      width: 20rem;
    }
  .hero-img {
      height: 38.8rem;
      width: 64.1rem;
    }
  footer {
      padding-top: 1rem;
    }
  .social-icons {
      gap: 1.3rem;
    }
  .copyright {
      font-size: 1.1rem;
      margin-bottom: 2rem;
    }
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%; 
  }
  body {
    margin: 0;
  }
  main {
    display: block;
  }
  h1 {
    margin: 0.67em 0;
  }
  hr {
    box-sizing: border-box;
    height: 0; 
    overflow: visible;
  }
  pre {
    font-family: monospace, monospace; 
    font-size: 1rem; 
  }
  a {
    background-color: transparent;
  }
  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }
  b,
  strong {
    font-weight: bolder;
  }
  code,
  kbd,
  samp {
    font-family: monospace, monospace; 
    font-size: 1rem;
  }
  small {
    font-size: 80%;
  }
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  img {
    border-style: none;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%; 
    line-height: 1.15; 
    margin: 0; 
  }
  button,
  input {
    overflow: visible;
  }
  button,
  select {
   text-transform: none;
  }
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  legend {
    box-sizing: border-box;
    color: inherit; 
    display: table; 
    max-width: 100%;
    padding: 0;
    white-space: normal; 
  }
  progress {
    vertical-align: baseline;
  }
  textarea {
    overflow: auto;
  }
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
  }
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  [type="search"] {
    -webkit-appearance: textfield; 
    outline-offset: -2px;
  }
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  ::-webkit-file-upload-button {
    -webkit-appearance: button; 
    font: inherit; 
  }
  details {
    display: block;
  }
  summary {
    display: list-item;
  }
  template {
    display: none;
  }
  [hidden] {
    display: none;
  }