*,
*::after,
*::before {
    box-sizing: border-box;
  }
body {
    background: url(../images/bg-intro-mobile.png) left top, hsl(0, 100%, 74%);
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 1.5;
    word-spacing: 0.8px;
  }
.section-signup h2 {
    color: white;
    font-size: 1.875rem;
    font-weight: 700;
    text-align: center;
  }
.section-signup .wrapper-desc p {
    color: white;
    font-size: 1rem;
    text-align: center;
  }
.section-signup .wrapper-offer span {
    color: white;
    font-size: 1rem;
  }
.section-signup .wrapper-offer span b {
    font-weight: 600;
  }
.section-signup form input {
    color: black;
    font-size: 0.875rem;
    font-weight: 500;
  }
.section-signup form input::placeholder {
    color: hsl(249, 10%, 26%);
  }
.section-signup form button {
    background-color: hsl(154, 59%, 51%);
    color: white;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
  }
.section-signup form > p {
    color: hsl(246, 25%, 77%);
    font-size: 0.75rem;
    text-align: center;
  }
.section-signup form > p a {
    font-size: 0.75rem;
    outline: none;
    text-decoration: none;
  }
.section-signup form > p a:link {
    color: hsl(0, 100%, 74%);
  }
.section-signup form > p a:visited,
.section-signup form > p a:active {
    color: hsl(0, 98%, 65%);
  }
.section-signup form > p a:focus,
.section-signup form > p a:hover {
    border-bottom: 1px solid hsl(246, 25%, 77%);
    color: hsl(0, 90%, 80%);
    transition: border-bottom 0.2s;
  }
html {
    height: 100%;
  }
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
main {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
  }
.section-signup {
    margin: 9.5em auto 6.5em;
    max-width: 45em;
    width: 88%;
  }
.section-signup .wrapper-offer {
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    box-shadow: 0 8px 0 rgb(0 0 0 / 16%);
    margin: 6.5em 0 2.5em;
    padding: 2em 4em;
    text-align: center;
  }
.section-signup form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 0 rgb(0 0 0 / 16%);
    padding: 2.3em;
  }
.section-signup form ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.section-signup form li:not(.button) {
    position: relative;
  }
.section-signup form li + li {
    margin-top: 1.6em;
  }
.section-signup form li input {
    border-radius: 5px;
    border: 1px solid hsl(246, 25%, 77%);
    display: block;
    padding: 1.25em;
    width: 100%;
  }
.section-signup form li input:focus {
    border-color: black;
    outline: none;
  }
.section-signup form li input:focus:invalid,
.section-signup form li input.active {
    border-color: hsl(0, 100%, 74%);
  }
.section-signup form li span.error {
    display: none;
  }
.section-signup form li span.error.active {
    color: hsl(0, 100%, 74%);
    display: block;
    font-size: 0.75rem;
    font-style: italic;
    text-align: right;
    width: 100%;
  }
.section-signup form .wrapper-errorimg {
    display: none;
  }
.section-signup form .wrapper-errorimg img {
    height: 100%;
    width: 100%;
  }
.section-signup form .wrapper-errorimg.active {
    display: block;
    position: absolute;
    right: 2.5em;
    top: 1.4em;
  }
.section-signup form li button {
    border-radius: 5px;
    border: 0;
    box-shadow: inset 0 -3px 0 rgb(0 0 0 / 10%);
    letter-spacing: 1.5px;
    padding: 1.25em;
    width: 100%;
  }
.section-signup form li button:hover {
    opacity: 65%;
  }
.attribution {
    font-size: 11px;
    text-align: center;
  }
.attribution a {
    color: hsl(228, 45%, 44%);
  }
