* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
}

#page {
  background-image: url("./bg-pattern-desktop.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#page #info {
  width: 50%;
  padding: 40px 50px;
}
#page #info .logo {
  margin-bottom: 100px;
}
#page #info .mobile-img {
  width: 100%;
  display: none;
  margin-bottom: 40px;
}
#page #info .mobile-img img {
  width: 100%;
}
#page #info .title {
  margin-bottom: 15px;
}
#page #info .title h1 {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 6px;
}
#page #info .title h1 span {
  font-weight: 300;
  color: #ce9797;
}
#page #info .disc {
  margin-bottom: 20px;
}
#page #info .disc p {
  font-size: 0.8em;
  font-weight: 400;
  color: #ce9797;
  line-height: 20px;
}
#page #info .form-container #form {
  position: relative;
}
#page #info .form-container #form #email {
  width: 100%;
  border: 0.5px solid #413a3a;
  outline: none;
  border-radius: 30px;
  padding: 12px;
  color: black;
}
#page #info .form-container #form .error {
  position: absolute;
  top: 8px;
  right: 100px;
  display: none;
}
#page #info .form-container #form .button {
  outline: none;
  border: none;
  width: 60px;
  height: 42px;
  border-radius: 30px;
  position: absolute;
  top: -1px;
  right: 0;
  cursor: pointer;
  background: linear-gradient(135deg, #debaba, #ee8c8c);
}
#page #info .form-container #form .button:hover {
  box-shadow: 6px 0.5em 0.5em #debaba;
}
#page #info .form-container #form .arrow {
  position: absolute;
  top: 10px;
  right: 19px;
  z-index: 11;
}
#page #image {
  width: 50%;
  padding: 40px 50px;
}
#page #image img {
  width: 100%;
  padding: 40px 50px;
}

@media screen and (max-width: 900px) {
  #page #info {
    padding: 20px 20px;
  }
  #page #info .logo {
    margin-bottom: 50px;
  }
  #page #image {
    width: 50%;
    padding: 20px 20px;
  }
  #page #image img {
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  #page {
    width: 100%;
    display: block;
    height: auto;
    padding: 20px;
  }
  #page > div {
    width: 100%;
    height: auto;
  }
  #page #info {
    width: 100%;
    padding: 40px 0;
    text-align: center;
  }
  #page #info #container #page #info .logo {
    margin-bottom: 20px;
  }
  #page #info .mobile-img {
    display: block;
  }
  #page #info .form-container #form {
    padding-left: 30px;
    padding-right: 30px;
  }
  #page #info .form-container #form button {
    right: 30px;
  }
  #page #info .disc {
    padding-left: 30px;
    padding-right: 30px;
  }
  #page #image {
    display: none;
  }
}
.msg-error {
  font-size: 0.8em;
  color: #ee8c8c;
  font-weight: 400;
  margin-left: 15px;
  margin-top: 10px;
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}
