:root {
  --Soft-Red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-Desaturated-Cyan: hsl(167, 40%, 24%);
  --Dark-Blue: hsl(198, 62%, 26%);
  --Dark-Moderate-Cyan: hsl(168, 34%, 41%);
  --Very-Dark-Desaturated-Blue: hsl(212, 27%, 19%);
  --Very-Dark-Grayish-Blue: hsl(213, 9%, 39%);
  --Dark-Grayish-Blue: hsl(232, 10%, 55%);
  --Grayish-Blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
  --Font-Family-Barlow: "Barlow", sans-serif;
  --Font-Family-Fraunces: "Fraunces", serif;
  --Font-Weight-600B: 600;
  --Font-Weight-700F: 700;
  --Font-Weight-900F: 900;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--Font-Family-Barlow);
  font-weight: var(--Font-Weight-600B);
}

body {
  min-width: 375px;
  max-width: 1800px;
}

img {
  display: block;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--Font-Family-Fraunces);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-height: 720px;
  background: center/cover no-repeat;
  background-image: url(../src/mobile/image-header.jpg);
  -webkit-transition: 1s;
  transition: 1s;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__content {
  margin: auto;
  text-align: center;
}

.header__title {
  margin-top: -10rem;
  text-transform: uppercase;
  color: var(--White);
  font-size: 3rem;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}

.header__image {
  display: inline-block;
  -webkit-animation: up-down 3s infinite;
  animation: up-down 3s infinite;
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes up-down {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

nav {
  position: absolute;
  padding: 1rem;
  background-color: var(--White);
  width: 80%;
  left: 10%;
  text-align: center;
  top: 15%;
  -webkit-transform: translateY(-250%);
  transform: translateY(-250%);
}

nav li:last-child a {
  background-color: var(--Yellow);
  color: var(--Very-Dark-Desaturated-Blue);
  margin: 1rem auto;
  font-family: var(--Font-Family-Fraunces);
  padding: 1rem 2rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-transform: uppercase;
  font-weight: var(--Font-Weight-900F);
  border-radius: 2rem;
}

nav .header__link {
  padding: 1rem;
  color: var(--Dark-Grayish-Blue);
}

nav::after {
  content: "";
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
  right: 0;
  top: 0;
  -webkit-transform: translateY(-98%);
  transform: translateY(-98%);
  border-left: 1.75rem solid transparent;
  border-bottom: 1.75rem solid var(--White);
}

.header__navbar {
  -webkit-transform: translate(0) !important;
  transform: translate(0) !important;
}

@media only screen and (min-width: 600px) {
  .header__hamburger {
    display: none;
  }
  header {
    background-image: url(../src/desktop/image-header.jpg);
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .header__link {
    color: var(--White) !important;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    left: 0;
    top: 0;
    position: relative;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-color: transparent;
    padding: 0;
  }
  nav::after {
    display: none;
  }
  nav li:last-child a {
    margin: 0;
    background-color: var(--White);
    color: var(--Very-Dark-Desaturated-Blue) !important;
  }
  nav li:last-child a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--White) !important;
  }
  .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  .header__title {
    margin-top: -15rem;
  }
}

.hero .hero__image {
  aspect-ratio: 125/104;
  background: center/cover no-repeat;
}

.hero__card-1 .hero__link::before {
  content: "";
  height: 0.5rem;
  width: 8rem;
  border-radius: 1rem;
  background-color: var(--Yellow);
  opacity: 0.4;
  z-index: -1;
  -webkit-transform: translateY(150%);
  transform: translateY(150%);
  position: absolute;
}

.hero__card-1 .hero__link:hover::before {
  opacity: 1;
}

.hero__card-2 .hero__link::before {
  content: "";
  height: 0.5rem;
  width: 8rem;
  border-radius: 1rem;
  background-color: var(--Soft-Red);
  opacity: 0.4;
  z-index: -1;
  -webkit-transform: translateY(150%);
  transform: translateY(150%);
  position: absolute;
}

.hero__card-2 .hero__link:hover::before {
  opacity: 1;
}

.hero__image-1 {
  background-image: url(../src/mobile/image-transform.jpg) !important;
}

.hero__image-2 {
  background-image: url(../src/mobile/image-stand-out.jpg) !important;
}

.hero__content {
  margin: auto;
  max-width: 400px;
  padding: 2rem;
  text-align: center;
}

.hero__title {
  font-weight: var(--Font-Weight-900F);
  font-size: 2rem;
  color: var(--Very-Dark-Desaturated-Blue);
}

.hero__description {
  margin: 1rem 0;
  color: var(--Dark-Grayish-Blue);
  line-height: 1.5rem;
}

.hero__link {
  font-weight: var(--Font-Weight-900F);
  color: var(--Very-Dark-Desaturated-Blue);
  font-family: var(--Font-Family-Fraunces);
  text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
  .hero__card-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .hero__card-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero__image {
    width: 50%;
    aspect-ratio: 6/5 !important;
  }
  .hero__image-1 {
    background-image: url(../src/desktop/image-transform.jpg) !important;
  }
  .hero__image-2 {
    background-image: url(../src/desktop/image-stand-out.jpg) !important;
  }
  .hero__content {
    margin: auto;
    width: 50%;
    text-align: left;
  }
}

.features .features__card {
  aspect-ratio: 5/8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3rem 1rem;
  text-align: center;
  background: top/cover no-repeat;
}

.features .features__title {
  color: var(--Dark-Desaturated-Cyan);
  font-size: 1.5rem;
  font-weight: var(--Font-Weight-900F);
  text-transform: capitalize;
  margin: 1rem 0;
}

.features .features__description {
  color: var(--Dark-Desaturated-Cyan);
  line-height: 1.5rem;
}

.features .features__card-1 {
  background-image: url(../src/mobile/image-graphic-design.jpg);
}

.features .features__card-2 {
  background-image: url(../src/mobile/image-photography.jpg);
}

@media only screen and (min-width: 600px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .features__card {
    aspect-ratio: 6/5;
  }
  .features__card-1 {
    width: 50%;
    background-image: url(../src/desktop/image-graphic-design.jpg) !important;
  }
  .features__card-2 {
    width: 50%;
    background-image: url(../src/desktop/image-photography.jpg) !important;
  }
}

@media only screen and (min-width: 600px) {
  .features__card {
    height: 500px !important;
  }
}

.testimonials {
  padding: 0 3.2rem 2rem;
}

.testimonials .testimonials__headline {
  text-transform: uppercase;
  font-size: 1rem;
  margin: 3rem 0 1rem;
  text-align: center;
  color: var(--Grayish-Blue);
  letter-spacing: 3px;
}

.testimonials .testimonials__card {
  max-width: 350px;
  margin: 4rem auto;
  text-align: center;
}

.testimonials .testimonials__card .testimonials__image {
  width: 4rem;
  border-radius: 50%;
  margin: auto;
}

.testimonials .testimonials__card .testimonials__description {
  margin: 1.5rem 0;
  color: var(--Dark-Grayish-Blue);
}

.testimonials .testimonials__card .testimonials__name {
  margin: 0.5rem 0;
  color: var(--Very-Dark-Desaturated-Blue);
}

.testimonials .testimonials__card .testimonials__status {
  color: var(--Grayish-Blue);
}

@media only screen and (min-width: 600px) {
  .testimonials__container {
    display: -ms-grid;
    display: grid;
    grid-template-areas: "A B" "C C";
  }
  .testimonials__card {
    padding: 0 1rem;
  }
  .testimonials__card:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: A;
  }
  .testimonials__card:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: B;
  }
  .testimonials__card:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: C;
  }
}

@media only screen and (min-width: 1100px) {
  .testimonials__container {
    grid-template-areas: "A B C";
  }
}

footer {
  text-align: center;
}

footer .footer__container {
  padding: 2rem;
  background-color: var(--Dark-Moderate-Cyan);
}

footer .footer__links,
footer .footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .footer__links a,
footer .footer__socials a {
  padding: 1rem;
}

footer .footer__links a:hover,
footer .footer__socials a:hover {
  color: var(--White);
}

footer .footer__links a svg path:hover,
footer .footer__socials a svg path:hover {
  fill: var(--White);
}

footer .footer__link {
  color: var(--Dark-Desaturated-Cyan);
}

footer .footer__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
}

footer .footer__image {
  background: center/contain no-repeat;
  aspect-ratio: 1;
}

footer .footer__image-1 {
  background-image: url(../src/mobile/image-gallery-milkbottles.jpg);
}

footer .footer__image-2 {
  background-image: url(../src/mobile/image-gallery-orange.jpg);
}

footer .footer__image-3 {
  background-image: url(../src/mobile/image-gallery-cone.jpg);
}

footer .footer__image-4 {
  background-image: url(../src/mobile/image-gallery-sugar-cubes.jpg);
}

@media only screen and (min-width: 600px) {
  .footer__images {
    -ms-grid-columns: (1fr) [4] !important;
    grid-template-columns: repeat(4, 1fr) !important;
  }
}
