/*!***********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/main.css ***!
  \***********************************************************************/
* {
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #0f1424;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.block {
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  background-color: #1c1f4a;
  border-radius: 16px;
}

.block div:last-child:hover {
  background-color: #6f76c8;
  cursor: pointer;
}

.first-container {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.first-container header {
  background-color: #5847eb;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 70%;
  border-radius: 16px;
}

.first-container header img {
  width: 70px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: 1 / 1 / 3 / 1;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  border: solid 4px aliceblue;
  border-radius: 50%;
}

.first-container header p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #bdc1ff;
}

.first-container header #name {
  font-size: 20px;
  color: white;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.first-container nav {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.first-container nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.first-container nav ul li > a {
  text-decoration: none;
  color: #bdc1ff;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

.first-container nav ul li > a:hover {
  color: aliceblue;
  font-weight: 400;
}

.block2 {
  width: 300px;
  height: 145px;
}

.work_container {
  background-color: #ff8c66;
  position: relative;
}

.work_container .main-img {
  position: absolute;
  right: 0;
  top: -10px;
  right: 16px;
}

.work_container .eraser-img {
  background-color: #0f1424;
  height: 10px;
  width: 100px;
  position: absolute;
  top: -10px;
  right: 16px;
}

.work_container div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #1c1f4a;
  border-radius: 16px;
  width: 100%;
  height: 112px;
  position: absolute;
  bottom: -2px;
}

.work_container div h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: aliceblue;
  justify-self: flex-start;
  padding-left: 20px;
  padding-bottom: 4px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.work_container div p:last-child {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #bdc1ff;
  padding: 9px 0 0 0;
}

.work_container div p:nth-child(3) {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 30px;
  padding-left: 20px;
  color: aliceblue;
}

.work_container div img {
  justify-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 0 30px 10px 0;
}

.play_container {
  background-color: #56c2e6;
  position: relative;
}

.play_container .main-img {
  position: absolute;
  right: 0;
  top: -10px;
  right: 16px;
}

.play_container .eraser-img {
  background-color: #0f1424;
  height: 10px;
  width: 100px;
  position: absolute;
  top: -10px;
  right: 16px;
}

.play_container div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #1c1f4a;
  border-radius: 16px;
  width: 100%;
  height: 112px;
  position: absolute;
  bottom: -2px;
}

.play_container div h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: aliceblue;
  justify-self: flex-start;
  padding-left: 20px;
  padding-bottom: 4px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.play_container div p:last-child {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #bdc1ff;
  padding: 9px 0 0 0;
}

.play_container div p:nth-child(3) {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 30px;
  padding-left: 20px;
  color: aliceblue;
}

.play_container div img {
  justify-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 0 30px 10px 0;
}

.study_container {
  background-color: #ff5c7c;
  position: relative;
}

.study_container .main-img {
  position: absolute;
  right: 0;
  top: -10px;
  right: 16px;
}

.study_container .eraser-img {
  background-color: #0f1424;
  height: 10px;
  width: 100px;
  position: absolute;
  top: -10px;
  right: 16px;
}

.study_container div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #1c1f4a;
  border-radius: 16px;
  width: 100%;
  height: 112px;
  position: absolute;
  bottom: -2px;
}

.study_container div h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: aliceblue;
  justify-self: flex-start;
  padding-left: 20px;
  padding-bottom: 4px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.study_container div p:last-child {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #bdc1ff;
  padding: 9px 0 0 0;
}

.study_container div p:nth-child(3) {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 30px;
  padding-left: 20px;
  color: aliceblue;
}

.study_container div img {
  justify-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 0 30px 10px 0;
}

.exercise_container {
  background-color: #4acf81;
  position: relative;
}

.exercise_container .main-img {
  position: absolute;
  right: 0;
  top: -10px;
  right: 16px;
}

.exercise_container .eraser-img {
  background-color: #0f1424;
  height: 10px;
  width: 100px;
  position: absolute;
  top: -10px;
  right: 16px;
}

.exercise_container div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #1c1f4a;
  border-radius: 16px;
  width: 100%;
  height: 112px;
  position: absolute;
  bottom: -2px;
}

.exercise_container div h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: aliceblue;
  justify-self: flex-start;
  padding-left: 20px;
  padding-bottom: 4px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.exercise_container div p:last-child {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #bdc1ff;
  padding: 9px 0 0 0;
}

.exercise_container div p:nth-child(3) {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 30px;
  padding-left: 20px;
  color: aliceblue;
}

.exercise_container div img {
  justify-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 0 30px 10px 0;
}

.social_container {
  background-color: #7536d3;
  position: relative;
}

.social_container .main-img {
  position: absolute;
  right: 0;
  top: -10px;
  right: 16px;
}

.social_container .eraser-img {
  background-color: #0f1424;
  height: 10px;
  width: 100px;
  position: absolute;
  top: -10px;
  right: 16px;
}

.social_container div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #1c1f4a;
  border-radius: 16px;
  width: 100%;
  height: 112px;
  position: absolute;
  bottom: -2px;
}

.social_container div h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: aliceblue;
  justify-self: flex-start;
  padding-left: 20px;
  padding-bottom: 4px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.social_container div p:last-child {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #bdc1ff;
  padding: 9px 0 0 0;
}

.social_container div p:nth-child(3) {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 30px;
  padding-left: 20px;
  color: aliceblue;
}

.social_container div img {
  justify-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 0 30px 10px 0;
}

.self-care_container {
  background-color: #f1c65b;
  position: relative;
}

.self-care_container .main-img {
  position: absolute;
  right: 0;
  top: -10px;
  right: 16px;
}

.self-care_container .eraser-img {
  background-color: #0f1424;
  height: 10px;
  width: 100px;
  position: absolute;
  top: -10px;
  right: 16px;
}

.self-care_container div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #1c1f4a;
  border-radius: 16px;
  width: 100%;
  height: 112px;
  position: absolute;
  bottom: -2px;
}

.self-care_container div h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: aliceblue;
  justify-self: flex-start;
  padding-left: 20px;
  padding-bottom: 4px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.self-care_container div p:last-child {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #bdc1ff;
  padding: 9px 0 0 0;
}

.self-care_container div p:nth-child(3) {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 30px;
  padding-left: 20px;
  color: aliceblue;
}

.self-care_container div img {
  justify-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 0 30px 10px 0;
}

@media only screen and (min-width: 1440px) {
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [4];
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr) [2];
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 1060px;
    height: 100vh;
    margin: auto;
  }
  .block {
    width: 100%;
    margin: 0;
  }
  .first-container {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 3 / 2;
    height: 520px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-top: 0;
  }
  .first-container header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .first-container header img {
    width: 88px;
    margin-top: 28px;
    margin-right: 120px;
    margin-bottom: 40px;
  }
  .first-container header #report {
    width: 80%;
    -ms-grid-column-align: center;
    justify-self: center;
    margin-right: 30px;
    margin-bottom: 4px;
  }
  .first-container header #name {
    margin-left: 20px;
    font-weight: 300;
    font-size: 40px;
  }
  .first-container nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .first-container nav ul li {
    padding: 16px 20px;
  }
  .work_container {
    -ms-flex-item-align: end;
    align-self: flex-end;
    height: 250px;
  }
  .work_container div {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 200px;
  }
  .work_container div p:last-child {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / 4 / 3;
    margin-left: 20px;
  }
  .work_container div p:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 3 / 3;
    font-size: 56px;
  }
  .play_container {
    -ms-flex-item-align: end;
    align-self: flex-end;
    height: 250px;
  }
  .play_container div {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 200px;
  }
  .play_container div p:last-child {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / 4 / 3;
    margin-left: 20px;
  }
  .play_container div p:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 3 / 3;
    font-size: 56px;
  }
  .study_container {
    -ms-flex-item-align: end;
    align-self: flex-end;
    height: 250px;
  }
  .study_container div {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 200px;
  }
  .study_container div p:last-child {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / 4 / 3;
    margin-left: 20px;
  }
  .study_container div p:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 3 / 3;
    font-size: 56px;
  }
  .exercise_container {
    -ms-flex-item-align: start;
    align-self: flex-start;
    height: 250px;
  }
  .exercise_container div {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 200px;
  }
  .exercise_container div p:last-child {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / 4 / 3;
    margin-left: 20px;
  }
  .exercise_container div p:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 3 / 3;
    font-size: 56px;
  }
  .social_container {
    -ms-flex-item-align: start;
    align-self: flex-start;
    height: 250px;
  }
  .social_container div {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 200px;
  }
  .social_container div p:last-child {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / 4 / 3;
    margin-left: 20px;
  }
  .social_container div p:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 3 / 3;
    font-size: 56px;
  }
  .self-care_container {
    -ms-flex-item-align: start;
    align-self: flex-start;
    height: 250px;
  }
  .self-care_container div {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 200px;
  }
  .self-care_container div p:last-child {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / 4 / 3;
    margin-left: 20px;
  }
  .self-care_container div p:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 3 / 3;
    font-size: 56px;
  }
}
